/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'Crimson Pro', serif;
$font-family-monospace: 'Source Code Pro', 'Lucida Console', monospace;

$presentation-font-size-root: 35px;
$presentation-font-smaller: 0.8;

$code-block-font-size: 0.6em;
