[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/prosoitos/hugo-coder.git
[submodule "static/src/workshop/covid/covid_db"]
	path = static/src/workshop/covid/covid_db
	url = https://github.com/CSSEGISandData/COVID-19.git
